gajal-platform-frontend/node_modules/
gajal-platform-frontend/dist/
gajal-platform-frontend/.cache/
gajal-platform-frontend/package-lock.json

gajal-platform/.env
gajal-platform/__pycache__/
gajal-platform/test.py


test.py